body {
    font-family: 'static_boldbold';
    color: black;
}    

a, a:visited {
    color: gray;
    text-decoration: none;
    background-color: whiteSmoke;
}

a:hover {
    color:black;
    background-color: pink;
}

h1 {
    font-size:5em;
    text-align: center;
    margin-bottom: 0px;
}

#buttonWrapper {
    margin:auto;
    width:60%;
}

.button {
    text-align: center;
    float:left;
    width:33%;
    font-size: 1.5em;
}

#infoWrapper {
    width: 55%;
    margin: auto;
}

.info {
    visibility: hidden;
    margin: auto;
    float: left;
}

#about {
    width: 70%;
}

#madeby {
    text-align: right;
    width: 30%;
}

#logoGif {
    width:500px;
    display:block;
    margin:-50px auto -20px auto;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear:both;
    height: 0;
}

@font-face {
    font-family: 'static_boldbold';
    src: url('../fonts/static_bold-webfont.eot');
    src: url('../fonts/static_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/static_bold-webfont.woff2') format('woff2'),
         url('../fonts/static_bold-webfont.woff') format('woff'),
         url('../fonts/static_bold-webfont.ttf') format('truetype'),
         url('../fonts/static_bold-webfont.svg#static_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
